@{
    ViewData["Title"] = "Buscar Reserva";
}

<div class="container">
    <div class="card">
        <h1>Buscar reserva</h1>

        <form method="get" class="row">
            <div>
                <label>IdReserva</label>
                <input class="form-control" required />
            </div>
            <div style="display:flex;align-items:flex-end;">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </form>

        <div class="alert">
            Estimado asociado, no se ha encontrado la reserva, favor realizar una nueva.
        </div>
    </div>
</div>