@{
    ViewData["Title"] = "Servicios Disponibles";
}

<div class="container">
    <div class="card">
        <h1>Servicios disponibles</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre del servicio</th>
                    <th>Área</th>
                    <th>Encargado</th>
                    <th>Monto</th>
                    <th>Sucursal</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Consulta General</td>
                    <td>Atención médica primaria</td>
                    <td>Dr. Ramírez</td>
                    <td>₡20 000</td>
                    <td>San José</td>
                    <td>
                        <a class="btn btn-primary">Reservar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>